<footer>
			<section class="links">
				<a href="#">Start</a>
				<a href="#">Blog</a>
				<a href="#">Project</a>
				<a href="#">Contact</a>
			</section>
 
			<div class="social">
				<a href="#">Facebook</a>
				<a href="#">Twitter</a>
			</div>
		</footer>
</div>